<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiences</title>
    <style>
        h1{
            color: brown;
            text-align: center;
            font-size: large;
        }
        p{
            text-align: center;
        }

    </style>
</head>
<body>
    <h1>Experiences</h1>
    <p><b>
        {{summary}}
    </b></p>
    <p>
        {{experience_list}}
    </p>
</body>
</html>