<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        h1{
            color: brown;
            text-align: center;
            font-size: large;
        }
        p{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome to mY Home Page</h1>
    <p>Home is Homing</p>
    <p>my name is {{myname}}</p>
    <p>{{title}}</p>
    <p>{{email}}</p>
</body>
</html>